.bff {
  font-family: serif;
  color: white;


=======
  font-size: 25px
}
.link {
  text-decoration: underline;
}
.head{
  text-align: center;
  font-size: 65px;
  font-family: fantasy;
}
#intro { font-size: 18px;}
