#paragraph{color: white;font-size: 27px;font-family: serif;}
ol li{font-size: 30px; font color: white;font-family: serif;}
h3{font-size: 33px;font-family: serif;}
#america{width:200px;height: 200px;font-family: serif;}
#cardi{width: 200px;height: 200px;font-family: serif;}
#nice{width: 200px;height: 200px;font-family: serif;}
#no{width: 200px;height: 200px;font-family: serif;}
#taste{width: 200px;height: 200px;font-family: serif;}
#lu{width: 200px;height: 200px;font-family: serif;}
#natural{width: 200px;height: 200px;font-family: serif;}
#mess{width: 200px;height: 200px;font-family: serif;}
#like{width: 200px;height: 200px;font-family: serif;}
#for{width: 200px;height: 200px;font-family: serif;}
