p{
color: black;font-size: 30px;}
ul li{font-size: 14px;}
.america{width:100px;height: 100px;}
.cardi{width: 100px;height: 100px;}
.nice{width: 100px;height: 100px;}
.no{width: 100px;height: 100px;}
.taste{width: 100px;height: 100px;}
.lu{width: 100px;height: 100px;}
.natural{width: 100px;height: 100px;}
.mess{width: 100px;height: 100px;}
.like{width: 100px;height: 100px;}
.for{width: 100px;height: 100px;}
